body { 
	margin: 0px;
}
.test { 
	border: 1px solid black;
}


/* Begin Header Styling */
header { 
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
}
.header-name{
	width: 200px;
}

.header-blurb {
 	width: 400px;
}
/* End Header Styling */